[user]
    email = benjsimner@gmail.com
    name = Ben Simner
    signingkey = AF3E98B1
[core]
	excludesfile = /home/bs630/.gitignore_global
    editor = vim
    autoclrf = true
[alias]
    last = log -1 HEAD
    graph = log --graph
    diffs = log -p
    scommit = commit -S
    amend = commit --amend
    samend = commit -S --amend
[credential]
	helper = cache
