# Whitelist my dotfiles
/*

# global gitignore
!.gitignore_global

# allow loading of git submodules
!.gitmodules

# allow vim
!.vimrc
!.vim/

# allow bash
!.bashrc
!.inputrc
!.bash/

# allow tmux.conf
!.tmux/plugins
!.tmux.conf

# git repo details
!README.md
!LICENSE
