# this will list all ambiguous completions
# or just auto-insert if unambiguous
set show-all-if-ambiguous on
TAB: complete

"\e[7~": beginning-of-line
"\e[8~": end-of-line

# menu-complete loops through each possible completion on each press
#TAB: menu-complete
