URxvt*background: black
URxvt*foreground: white
URxvt.scrollBar: false
URxvt*urgentOnBell: true 
URxvt.cursorBlink: 1 
URxvt.cursorUnderline: 1 
URxvt.font: xft:DejaVuSansMono:size=11
! URxvt*font: 9x15
