snippet header
/**
** `!v bufname("%")` - ${1:ShortDescription}
** Author: Ben Simner 
**
** ${0:DocString}
**/

public class `!v bufname("%:r")` {

}
endsnippet

snippet class
class ${1:ClassName} {
    ${0:...}
}
endsnippet

snippet c
public ${1:ClassName}($2) {
    ${0:...}
}
endsnippet

snippet void
void ${1:FunctionName}(${2:...}) {
    ${0:...}
}
endsnippet 

snippet main
public static void main(String[] args) {
    ${0:...}
}
endsnippet
